<a href="https://colab.research.google.com/github/winseelan66/Python-Exercises/blob/main/Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

All exercises are taken from https://www.w3resource.com/python-exercises/list/

Sum all the items in a list

In [2]:
inputList = [1,2,3,4,5]
output:int = 0
for item in inputList:
  output += item
print(output)

15

2. Write a Python program to multiply all the items in a list.

In [5]:
inputList = [1,2,3,4,5]
output:int =1
for item in inputList:
  output *= item
print(output)

120

3. Write a Python program to get the largest number from a list.

In [8]:
# inputList = [1,2,3,4,5]
inputList = [-1,500,1,0,35]
output:int = inputList[0]
for item in inputList:
  if (output < item):
      output = item
print(output)

500

4. Write a Python program to get the smallest number from a list.

In [9]:
# inputList = [1,2,3,4,5]
inputList = [-1,500,1,0,35]
output:int = inputList[0]
for item in inputList:
  if (output > item):
      output = item
print(output)

-1

6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [11]:
SampleList = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
output= []
for item in SampleList[::-1]:
  print(item)
  output.append(item)

print(output)

(2, 1)
(2, 3)
(4, 4)
(1, 2)
(2, 5)
[(2, 1), (2, 3), (4, 4), (1, 2), (2, 5)]

7. Write a Python program to remove duplicates from a list

In [12]:
a = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
print(set(a))

{40, 10, 80, 50, 20, 60, 30}

8. Write a Python program to check if a list is empty or not.

In [13]:
l = []
if not l:
  print("List is empty")

if len(l) <=0:
  print ("list is empty again")

List is empty
list is empty again

9. Write a Python program to clone or copy a list.

In [14]:
# Create a list 'original_list' with some elements
#When you clone or copy a list in Python, you're essentially creating a new list that contains the same elements as the original list.
# It's not just about creating the same data type (which would be another list); it's about replicating the data within that structure.
original_list = [10, 22, 44, 23, 4]

cloneList = list(original_list)
print(cloneList)

# copy list
copyList = original_list.copy()
print(copyList)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

9. Write a Python program to clone or copy a list.

In [27]:


def findLengthyWords(listWords,n):
  print (n)
  output = []
  nLen = len(n)
  for word in listWords:
    print(len(word))
    print(word)
    if len(word) <= nLen:
      output.append(word)
      print(word + " is removed")
  print(output)

listWords = ['quick', 'browne', 'jumps', 'over', 'lazy']

findLengthyWords(listWords,"fish")

fish
5
quick
6
browne
5
jumps
4
over
over is removed
4
lazy
lazy is removed
['over', 'lazy']

13. Write a Python program to generate a 3*4*6 3D array whose each element is *.

In [28]:
# Creating a 3D array (3x2x2)
array_3d = [
    [[1, 2], [3, 4]],  # First 2x2 matrix (depth level 0)
    [[5, 6], [7, 8]],  # Second 2x2 matrix (depth level 1)
    [[9, 10], [11, 12]]  # Third 2x2 matrix (depth level 2)
]

# Accessing elements
print(array_3d[0][1][0])  # Output: 3 (accessing depth 0, row 1, column 0)
print(array_3d[2][0][1])  # Output: 10 (accessing depth 2, row 0, column 1)

# Iterating through the 3D array
for depth_level in array_3d:
    for row in depth_level:
        for element in row:
            print(element, end=" ")
        print()  # New line after each row
    print("-----")  # Separator between depth levels

3
10
1 2
3 4
-----
5 6
7 8
-----
9 10
11 12
-----

Write a Python program to shuffle and print a specified list.

In [39]:
from random import shuffle
# Create a list 'color' with several color strings
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
shuffle(color)
print(color)

['Pink', 'Black', 'Red', 'Green', 'Yellow', 'White']

get first and last 5 values in a list

In [64]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow',55,66,77,88,99,111,222]
print(color[:5])
print(color[:len(color)-6:-1])

['Red', 'Green', 'White', 'Black', 'Pink']
[222, 111, 99, 88, 77]

Write a Python program to split a list into different variables.

In [65]:
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"),
    ("Red", "#FF0000", "rgb(255, 0, 0)"),
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
var1, var2, var3 = color
print(var1)
print(var2)
print(var3)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

Write a Python program to find a list of integers with exactly two occurrences of nineteen and at least three occurrences of five. Return True otherwise False.

Input:
[19, 19, 15, 5, 3, 5, 5, 2]
Output:
True

Input:
[19, 15, 15, 5, 3, 3, 5, 2]
Output:
False

Input:
[19, 19, 5, 5, 5, 5, 5]
Output:
True

In [67]:
def findOccurences(list1):

  if list1.count(19) ==2 and list1.count(5) == 3:
    return True
  else:
    return False


# feedInput = [19, 19, 15, 5, 3, 5, 5, 2]
feedInput =[19, 15, 15, 5, 3, 3, 5, 2]
print(findOccurences(feedInput))

False